<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>He was born in Yakima, Washington. He left the US for England, excelled at the University of Mopery, and served in the Royal Loamshire Regiment.
While in service he invented the Kanuten valve used in the proceeing of unobtainium for industrial use. He founded ACME manufacturing which was acquired by Advent Consutling, to commercialize the product.
Mr Kadigan is now retired and living in New Zealand where he raises sheep and geep.</p>
<p>His favorite quotation is:</p>
<p>Never interrupt your enemy when he is making a mistake - Napolean</p>